<div layout-align="center center">
  <div layout="column" style="margin-top:20px;padding-bottom: 15px;" class="md-whiteframe-z3">
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2 class="md-flex" flex="85">Course History</h2>
        <section flex="25" layout="row" layout-sm="column" class="right"  layout-wrap>
        <md-button class="md-raised md-primary lighten-2" href="#/results">Next</md-button>
        </section>
      </div>
    </md-toolbar>

    <md-content layout-padding style="padding: 24px; margin-bottom:40px;">

      <!-- <label>Input the courses you've already taken.</label> -->
        <extracto
          class="import"
          content="csv.content"
          header="csv.header"
          separator="csv.separator"
          result="csv.result"></extracto>
      <div style="margin-bottom:30px;">
          <md-chips ng-model="selected_courses"
              md-on-remove="update()"
              md-autocomplete-snap=""
              md-require-match="">
            <md-autocomplete
              md-search-text="searchText"
              md-selected-item="selectedItem"
              md-items="item in querySearch(searchText)"
              md-search-text-change="querySearch(searchText)"
              md-selected-item-change="itemChanged(item)"
              md-item-text="item.name"
              placeholder="Course Name or Number">
              <span md-highlight-text="searchText">
                {{item.number}}: {{item.name}}
                ({{item.units}}.0 units)

              </span>
           </md-autocomplete>
           <md-chip-template>

              <div class="md-name fixed">({{$chip.number}}) {{$chip.name | trim}}</div>

          </md-chip-template>
         </md-chips>
        </div>
    </md-content>
  </div>

    <!-- <md-toolbar> -->
      <!-- <div class="md-toolbar-tools"> -->
      <!-- </div> -->
    <!-- </md-toolbar> -->
  <div layout="column" style="margin-top:20px;padding-bottom: 15px;" class="md-whiteframe-z3">
    <md-toolbar class="md-padding md-primary">
      <md-input-container id="dept-search">
        <label class="wt">Browse Department by Course Name</label>
        <input type="text" class="right" flex="50" ng-model="srch" />
      </md-input-container>
    </md-toolbar>
    <md-content style="height:500px;">

      <span ng-repeat="(key,value) in courses | fuzzyBy: 'name': srch | groupBy: 'dept'">
        <div>
          <md-toolbar class="grey lighten-2 bt" md-scroll-shrink>
            <div class="md-toolbar-tools">
              <h3>
                <span style="margin-left:20px;">Department: {{key}}</span>
              </h3>
            </div>
          </md-toolbar>
          <md-content layout-padding style="padding: 24px;">
            <md-list>
              <md-list-item class="md-3-line" ng-class="{lightni:message.active}" style="margin:20px;" ng-repeat="message in value" ng-click="message.active=!message.active;fad([message.number])">

                  <div class="md-list-item-text">
                    <h3>{{message.name}}</h3>
                    <h4>{{message.number}}</h4>
                    <p>
                      {{message.blurb}}
                    </p>
                  <md-divider style="position:relative" inset></md-divider>
                  </div>
              </md-list-item>
            </md-list>
          </md-content>
        <div>
      </span>
    </md-content>


  </div>
<!-- </div>